<%- include header.ejs %>
<body>
    <!-- Main -->
			<div id="main">
    
                    <!-- About Us -->
                        <section id="about" class="three">
                            <div class="container">
    
                                <header>
                                    <h2>About Us</h2>
                                </header>
    
                                <img src="images/about.jpg" height=300px width=500px>
    
                                <p id="aboutdata">Jabalpur Engineering College, Jabalpur was established on 7 July, 1947 when the entire global chess board was witnessing a dramatic change. It was born just a few months before India broke the shackles of British slavery.

                                        This illustrious Institution got the distinction of being the Second Engineering College in India and is the premier institution of Engineering Education in Central India. Thanks to the inspired vision of the great pioneering Principal Dr. S.P. Chakravarti. From a very small room in old Robertson College, this tiny icon has grown into a mighty oak tree, which is now 63 years old and has celebrated its Diamond Jubilee in the year 2007.
                                        
                                        The college since its inception has a well equipped High Voltage Laboratory and Telecommunication Department which was not available in any other contemporary colleges. Even before the advent of Television in the country, Telecommunication Lab was established in this college. The former has been made as one of the Centers of Excellence by Govt. of India in recognition of its contribution in the area of High-Voltage research and testing. It is getting grants from government of India to further promote its research and development activities. The college also has the distinction of being the first in India to offer BE degree in Electronics and Telecommunication Engineering.
                                        
                                        Jabalpur Engineering College or JEC Jabalpur previously known as Government Engineering College or GEC Jabalpur, was established on 7 July 1947. It is one of the oldest technical institutions in India and the oldest technical institution in Central India and the state of Madhya Pradesh. JEC offers B.E degree courses in eight disciplines and nine postgraduate courses in engineering fields, three postgraduate courses in applied Sciences and M.C.A.
                                        
                                        The college celebrated its 50th anniversary in 1997. The first citizen of India, his Excellency Dr. Shankar Dayal Sharma graced the occasion. The college was affiliated to Rajiv Gandhi Technical University Bhopal (M.P.) The college was declare autonomous in 1998-1999 by the Government of Madhya Pradesh. </p>
    
                            </div>
                        </section>
    
                </div>
    <%- include footer.ejs %>