<%- include header.ejs %>
<body>
    <!-- Main -->
			<div id="main">
    
                    <!-- About Us -->
                        <section id="about" class="three">
                            <div class="container">
    
                                <header>
                                    <h2>Contact Us</h2>
                                </header>

                                <p id="aboutdata">Jabalpur Engineering College<br />
                                    Dptt. of Computer science & Engineering<br />
                                    HOD: Dr. Shailja Shukla<br/>
                                    Ph: +91-761-2331868<br/>
                                    Email: cshod@jec-jabalpur.org </p>
                                <p>
                                Training and Placement Officer<br/>
                                Ph: +91-761-2431953<br/>
                                Email: tpo@jec-jabalpur.org, tpojecjabalpur@gmail.com
                                </p>
    
                            </div>
                        </section>
    
                </div>
    <%- include footer.ejs %>